* {
  font-family: Google Sans, sans-serif;
}

input[type="radio"]:checked+label {
  background-color: cornflowerblue;
}

#new_meme_form input[type="radio"] {
  display: none;
}

#new_meme_form label {
    display: inline-block;
    padding: 5px;
}

#new_meme_preview {
  /* position: fixed; */
  border: 1px solid red;
  background-color: white;
  flex-grow: 1;
}

.meme-div{
width: 450px;
text-align: center;
position: relative;
}

.meme-div img{
max-width: 100%;
}


.meme-div h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: impact;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black;
}
.line1 {
   top: 0;
 }
 .line2 {
   top: 50%;
   transform: translateY(-50%);
 }
.line3 {
   bottom: 0;
}

#horizontal_container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%
}

#vertical_container {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

#image_chooser {
  min-width: 100px;
  max-width: 33%;
  height: 100%;
  overflow-y: scroll;
}

#image_chooser img{
  max-width: 100%;
  padding: 0;
  margin: 0;
}

#meme_text_inputs {
}
