<html>
  <head>
    <title>New Meme</title>
   <link rel="stylesheet" type="text/css" href="/style/meme-style.css">
  </head>
  <body>
    <form id="new_meme_form" action="/add_meme" method="POST">
    <div id="horizontal_container">
      <div id="image_chooser">
        <h2>Image:</h2>
        {% for image in images %}
        <input type="radio" name="image" value="{{image.name}}" id="{{image.name}}"/><label for="{{image.name}}"><img src="meme_images/{{image.image_file}}" /></label><br />
        {% endfor %}
      </div>
      <div id="vertical_container">
        <div id="meme_text_inputs">
          <strong>Top text:</strong> <input type="text" name="top_text" id="top_text_input" /> <br />
          <strong>Middle text:</strong> <input type="text" name="middle_text" id="middle_text_input" /> <br />
          <strong>Bottom text:</strong> <input type="text" name="bottom_text" id="bottom_text_input"/><br />
          <input type="submit" />
        </div>
        <div id="new_meme_preview">
          <h2>Preview</h2>
          <div class="meme-div">
            <img src="" />
            <h2 class="line1"></h2>
            <h2 class="line2"></h2>
            <h2 class="line3"></h2>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script src="scripts/new_meme_preview.js"></script>
  </body>
</html>
